.welcome-card {
    margin-bottom: 25px;
}

.welcome-card .title {
    margin: 15px 0 25px 0;
}

.notes-title {
    color: #aaa;
    border-bottom: 2px solid #aaa;
    padding-bottom: 15px;
    margin: 45px 0 45px 0 ;
}

.no-notes {
    text-align: center;
    color: #aaa;
}

.notes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.note {
    width: 300px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.note > .msg {
    margin: 25px 16px;
    white-space: pre-wrap;
}

.note > .msg > p {
    height: 50px;
    overflow: hidden;
}

.actions {
    margin-top: 5px;
    display: flex;
}

.actions button {
    margin: 5px;
}