<mat-card class="welcome-card mat-elevation-z4">
    <mat-card-header>
        <mat-card-title class="title">Bem vindo!</mat-card-title>
        <mat-card-subtitle>Esta aplicação permite criar anotações do usuário!</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<h1 class="notes-title">Anotações Salvas</h1>
<h2 *ngIf="!notes?.length" class="no-notes">Não existem anotações :(</h2>
<div *ngIf="notes?.length" class="notes">
    <mat-card *ngFor="let note of notes"  class="note mat-elevation-z4">
        <mat-card-header class="note-title">
            <mat-card-title>{{ note.title }}</mat-card-title>
            <mat-card-subtitle>{{ note.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="msg">
            <p>{{ note.note }}</p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button mat-button>
                LER
            </button>
            <button mat-button>
                EDITAR
            </button>
            <button mat-button>
                DELETAR
            </button>
        </mat-card-actions>
    </mat-card>
</div>