<mat-card class="note">
    <mat-card-header class="note-title">
        <mat-card-title>Exemplo de Anotação</mat-card-title>
        <mat-card-subtitle>07/02/2021 14:33</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="msg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id malesuada purus. Fusce tincidunt quis magna et tempus. Etiam et mollis nibh.</p>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-button>
            <i class="material-icons">
                note
            </i>
            LER
        </button>
        <button mat-button>
            <i class="material-icons">
                edit
            </i>
            EDITAR
        </button>
        <button mat-button>
            <i class="material-icons">
                delete
            </i>
            DELETAR
        </button>
    </mat-card-actions>
</mat-card>