.content {
    margin: 20px;
}

.welcome-card {
    margin-bottom: 25px;
}

.welcome-card .title {
    margin: 15px 0 25px 0;
}

.notes-title {
    color: #aaa;
    border-bottom: 2px solid #aaa;
    padding-bottom: 15px;
    margin: 45px 0 45px 0 ;
}

.saved-notes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}