<mat-card>
    <mat-card-title class="title">Deletar anotação</mat-card-title>
    <mat-card-subtitle>Tem certeza que quer deletar esta anotação?</mat-card-subtitle>
    <mat-card-content>
        <mat-card class="note-card">
            <mat-card-header>
                <mat-card-title>{{ note.title }}</mat-card-title>
                <mat-card-subtitle>{{ note.date }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="msg">
                <p>{{ note.note }}</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="deleteNote()">Deletar</button>
        <button mat-raised-button (click)="cancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>
